.nowrap {
  white-space: nowrap;
}

.selectedFilter {
  background-color: #e1e1e1;
  padding: 5px 15px;
  border-radius: 3px;
}

.redButton {
  background-color: red;
  color: white;
}

.greenButton {
  background-color: green;
  color: white;
}