.orderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 0 30px 0;
}

.stepIcon:hover + .hoverLabel {
  opacity: 1;
}
.progressFiller {
  transition: height 500ms ease;
}

.stageIcon {
  transition: background-color 500ms ease;
}

.normalText {
  font-weight: 500;
}

@media (min-width: 650px) {
  .orderBox {
    padding: 20px;
  }

  .deliveryInputs {
    flex-direction: row;
  }
}

@media (min-width: 1000px) { 
  .orderContainer {
    flex-direction: row;
  }

  .deliveryInputs {
    flex-direction: column;
  }
}