.orderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 0 30px 0;
}

.stepIcon:hover + .hoverLabel {
  opacity: 1;
}
.progressFiller {
  transition: height 500ms ease;
}

.stageIcon {
  transition: background-color 500ms ease;
}

.normalText {
  font-weight: 500;
}

.goodsContainer {
  border: 1px solid rgb(246, 246, 246);
}

.goodsContainer:hover {
  background-color: var(--custom-color-50);
  border: 1px solid var(--custom-color-100);
  box-shadow: 0 4px 6px rgba(126, 227, 224, 0.3);
  transform: scale(1.01);
}

.gradientContainer {
  background-image: linear-gradient(
    to bottom,
    var(--custom-color-800),
    var(--custom-color-700),
    var(--custom-color-400)
  );
}

.deliveryImg {
  max-width: 300px;
}

@media (min-width: 650px) {
  .orderBox {
    padding: 20px;
  }

  .deliveryInputs {
    flex-direction: row;
  }
  .deliveryImg {
    max-width: 350px;
  }
}

@media (min-width: 800px) {
  .goodsGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .goodsImgContainer {
    height: 140px;
    width: 140px;
  }

  .goodsName {
    font-size: 1.5rem;
  }
}

@media (min-width: 1050px) {
  .goodsGrid {
    grid-template-columns: repeat(3, 1fr);
  }

  .goodsImgContainer {
    height: 180px;
    width: 180px;
  }
}
@media (min-width: 1300px) {
    .deliveryImg {
    max-width: 400px;
  }

  .orderContainer {
    flex-direction: row;
  }

  .deliveryInputs {
    flex-direction: column;
  }
}

@media (min-width: 1400px) {
  .goodsGrid {
    grid-template-columns: repeat(4, 1fr);
  }

  .goodsImgContainer {
    height: 200px;
    width: 200px;
  }
}
