@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --mutual-width: 96%;
  --input-width: 100px;
  --btn-width: 260px;

  --black-color: black;
  --white-color: white;
  --link-color: blue;
  --error-color: #fc3535;

  --dark-gray-color-50: #6b7483;
  --dark-gray-color-100: #5f6879;
  --dark-gray-color-200: #535b6f;
  --dark-gray-color-300: #474f65;
  --dark-gray-color-400: #3b435b;
  --dark-gray-color: #373f51; /* Original color */
  --dark-gray-color-600: #313743;
  --dark-gray-color-700: #2b3040;
  --dark-gray-color-800: #252a36;
  --dark-gray-color-900: #1f232c;

  --custom-color-50: #cff6f3;
  --custom-color-100: #b4f0ed;
  --custom-color-200: #99e9e6;
  --custom-color-300: #7ee3e0;
  --custom-color-400: #6ddeda;
  --custom-color: #62ddd4; /* Original color */
  --custom-color-600: #57c3bb;
  --custom-color-700: #4caaa2;
  --custom-color-800: #419088;
  --custom-color-900: #36776f;

  --btn-text: 1rem;
  --border-px: 1px;
  --transition-time: 300ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen";
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--dark-gray-color-600);
}

.slick-track {
  width: 96%;
}

/* 
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--custom-color-300);
}

::-webkit-scrollbar-thumb {
  background-color: var(--custom-color-900);
  border-radius: 2px;
  transition: all var(--transition-time);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--custom-color-800);
} */

label,
input[type="checkbox"] {
  cursor: pointer;
}

.importantFontBold {
  font-weight: bold !important;
}

#root {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin-top: 10px;
  margin-bottom: 30px;
  max-width: 1450px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.separator {
  width: 100%;
  border-top: 1px solid;
}

.titleText,
.labelText {
  font-weight: bold;
}

.titleText {
  font-size: 1.6rem;
}

.labelText {
  font-size: 1.1rem;
}

.articleText,
.linkText {
  font-size: 1rem;
}

.linkText {
  cursor: pointer;
  color: var(--link-color);
  font-weight: bold;
  text-decoration: underline;
  transition: color var(--transition-time);
}

.linkText:hover {
  color: var(--black-color);
}

.selectedText {
  color: var(--black-color);
}

.tinyText {
  font-size: 0.7rem;
}

.noMargin {
  margin: 0 !important;
}

.noneRoundedTop {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.noneRoundedBottom {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.noneRoundedLeft {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.noneRoundedRight {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.chosenElement {
  background-color: var(--custom-color) !important;
  border-radius: 10px !important;
  color: white;
}

.phoneUl {
  height: 150px !important;
  width: 100%;
}

.errorBorder {
  border: var(--border-px) solid var(--error-color) !important;
}

.customRadio {
  display: none;
}

.radioContainer {
  width: 50px;
  position: relative;
  padding: 20px 15px 5px 15px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 0.7rem;
  text-align: center;
  transition: background-color 100ms ease-in-out, color 100ms ease-in-out,
    box-shadow 100ms ease-in-out;
}

.radioContainer.selected {
  background-color: var(--custom-color);
  color: white;
  box-shadow: 0 0 30px var(--custom-color-600);
  font-weight: bold;
}

.radioContainer::before {
  content: "";
  position: absolute;
  left: 40%;
  top: 0px;
  margin-top: 5px;
  width: 10px;
  height: 10px;
  border: var(--border-px) solid var(--custom-color);
  background-color: var(--white-color);
  border-radius: 50%;
}

.radioContainer.selected::before {
  background-color: var(--white-color);
  border: 2px solid white;
}

.customInputContainer,
.customUL {
  cursor: pointer;
}

.customInputContainer {
  position: relative;
}

.customInput,
.numberInput {
  position: relative;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 8px 10px;
  border-radius: 3px;
  font-size: 1rem;
  outline: none;
  border: var(--border-px) solid var(--custom-color-50);
}

.customInput {
  font-weight: normal;
  color: var(--dark-gray-color-700);
  background-color: var(--white-color);
}

.customInput.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: var(--border-px) solid var(--custom-color);
}

.numberInput {
  color: var(--dark-gray-color-700);
  background-color: var(--custom-color-400);
}

.inputIcon {
  color: var(--dark-gray-color-700);
  position: absolute;
  top: 13px;
  right: 10px;
}

.customUL {
  position: absolute;
  background-color: var(--custom-color-700);
  border: var(--border-px) solid var(--custom-color);
  border-top: none;
  color: white;
  max-height: 235px;
  overflow-y: auto;
  z-index: 100;
}

.customUL li {
  cursor: pointer;
  padding: 3px;
}

.customUL li:hover {
  background-color: var(--custom-color);
}

.button,
.selectedButton,
.regularButton,
.darkerButton {
  width: 100%;
  height: 50px;
  font-weight: bold;
  font-size: var(--btn-text);
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color var(--transition-time) ease-in-out,
    color var(--transition-time) ease-in-out;
}

.darkerButton.unavailable {
  cursor: auto;
  opacity: 0.6;
}

.darkerButton {
  color: var(--custom-color);
  background-color: var(--dark-gray-color-700);
  transition: all 300ms;
}

.darkerButton:hover {
  color: var(--custom-color-300);
  background-color: var(--dark-gray-color-400);
}

.regularButton {
  color: var(--white-color);
  background-color: var(--custom-color);
}

.selectedButton {
  background-color: var(--custom-color);
  color: var(--white-color);
}

.button {
  background-color: var(--white-color);
  color: rgb(82, 82, 82);
}

.infoContainer {
  padding: 15px;
  overflow: hidden;
  transition: transform var(--transition-time) ease-in-out;
  border-radius: 6px;
}

.inputBox {
  position: relative;
  margin-top: 10px;
}

.inputBox input {
  width: 100%;
  padding: 8px 10px;
  border-radius: 3px;
  border: var(--border-px) solid var(--custom-color-200);
  outline: none;
  font-size: 1rem;
  font-weight: normal;
  background-color: var(--custom-color-100);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: var(--btn-text);
  font-weight: normal;
  transition: var(--transition-time);
  color: var(--extra-color-hover);
}

.inputBox input ~ span,
.inputBox input ~ span {
  transform: translateX(10px) translateY(-10px);
  font-size: 0.8rem;
  padding: 0 10px;
  background-color: var(--white-color);
  border-left: var(--border-px) solid var(--custom-color);
  border-right: var(--border-px) solid var(--custom-color);
  letter-spacing: 0.1em;
  background: var(--custom-color);
  color: var(--white-color);
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  transform: translateX(40px) translateY(-10px);
}

.inputBox input:valid,
.inputBox input:focus {
  border: var(--border-px) solid var(--custom-color-700);
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sliderCont {
  width: 100%;
  display: flex;
  align-items: center;
}

.slider {
  --slider-height: 15px;
  position: relative;
  width: 80%;
  height: var(--slider-height);
  border-radius: 20px;
  background-color: var(--custom-color-100);
}

.slider input {
  position: absolute;
  left: -2px;
  top: 0;
  width: 100%;
  height: var(--slider-height);
  -webkit-appearance: none;
  background-color: transparent;
  z-index: 30;
}

.sliderNoLeft input {
  left: -0 !important;
}

.slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: calc(var(--slider-height) * 1.25);
  height: calc(var(--slider-height) * 1.25);
  border-radius: 999px;
  background-color: var(--white-color);
  border: 2px solid var(--custom-color-800);
  cursor: pointer;
  transition: all var(--transition-time);
}

.slider input::-webkit-slider-thumb:active {
  transform: scale(1.1);
}

.slider progress {
  -webkit-appearance: none;
  width: 100%;
  height: var(--slider-height);
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  overflow: hidden;
}

.sliderFullRounded progress {
  border-radius: 999px;
}

.slider progress::-webkit-progress-bar {
  background-color: var(--custom-color-600);
}

.sliderNoBar progress::-webkit-progress-bar {
  display: none;
}

.slider progress::-webkit-progress-value {
  background-color: var(--custom-color-600);
}

.sliderValue {
  width: 28px;
  height: var(--slider-height);
  margin-left: 10px;
  text-align: center;
  font-weight: bold;
}




@media (min-width: 500px) {
  :root {
    --btn-text: 1rem;
  }

  .titleText {
    font-size: 2rem;
  }

  .wrapper {
    width: 92%;
  }

  .radioContainer {
    width: 60px;
  }

  .slider {
    width: 86%;
  }

}

@media (min-width: 800px) {
  .wrapper {
    width: 86%;
  }

  .titleText {
    font-size: 2.4rem;
  }

  .labelText {
    font-size: 1.3rem;
  }

  .articleText,
  .linkText {
    font-size: 1.1rem;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    width: 80%;
  }
}
