.formClientContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  row-gap: 20px;
}

.title {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.borderCustomContainer {
  display: flex;
  flex-direction: column;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  width: 100%;
  border: 1px solid var(--custom-color-600);
  border-radius: 6px;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    max-height: 0;
  }
  100% {
    opacity: 1;
    max-height: 500px; 
  }
}

.detailsCover {
  overflow: hidden;
  animation: fadeInOut 0.5s ease-out;
}

.detailsCover.open {
  animation: fadeInOut 0.5s ease-in-out;
}

.detailsCover.hidden {
  display: none; 
  opacity: 0;
  max-height: 0;
  animation: fadeHidden 0.5s ease-in-out;
}


@media (min-width: 650px) {
  .formClientContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .formClientContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}