.fullScreenNavbar {
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.navbar {
  z-index: 99;
}

.borderBottom {
  border: 1px solid var(--custom-color-600);
}

@media (min-width: 630px) {
  .fullScreenNavbar {
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    width: 630px;
    height: 100%;
    z-index: 99;
  }
}
