.fullScreenNavbar {
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.navbarCover {
  position: relative;
}

.navbar {
  position: relative;
}

.bottomShadow {
  box-shadow: 0px 3px 6px rgba(133, 133, 133, 0.1);
}

.fullScreenNavbar {
  box-shadow: 0px 3px 6px rgba(133, 133, 133, 0.1);
  z-index: 99;
}
/* 
.borderBottom {
  border: 1px solid var(--custom-color-600);
} */

.navbarOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* z-index: 9999; */
}

@media (min-width: 500px) {
  .fullScreenNavbar {
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
    z-index: 99;
  }
}
